@model ParadiseDemo5.Models.Bookingcs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookingcs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cust_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_ID)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Tour_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour_ID)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
